In [ ]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Ign:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Ign:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:12 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
# First, enter the following code to download a Postgres driver that will allow Spark to interact with Postgres:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-07-30 21:27:44--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  5.64MB/s    in 0.2s

2021-07-30 21:27:44 (5.64 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final_data").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [ ]:
# Load in a sql function to use columns
from pyspark.sql.functions import col, avg, sum, count, rand, randn, to_timestamp

In [ ]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://tq2cutebucket.s3.us-west-1.amazonaws.com/cali_house_sales.csv"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("cali_house_sales.csv"), sep=",", header=True, inferSchema=True)
df.show()

+------+--------------------+--------+----------+----------+---+-----------+--------+---+---------------+--------------+--------------+-------------------+----------+--------------+---------+
|Status|      Street Address|Zip Code|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|   Listing Date|     Sale Date|    Close Date|Original List Price|Year Built|    MLS Number|Year_Sale|
+------+--------------------+--------+----------+----------+---+-----------+--------+---+---------------+--------------+--------------+-------------------+----------+--------------+---------+
|  Sold|    6882 Norton AVE |   93003|    465000|    415000| 63|       1907|  8400.0| 61| 11/5/2018 0:00| 1/5/2019 0:00|1/18/2019 0:00|             499900|      1958|CRV0-218013798|     2019|
|  Sold| 3177 Wood Creek DR |   95928|    475000|    475000| 21|       1800|  4792.0|  5|  1/2/2019 0:00| 1/7/2019 0:00|1/28/2019 0:00|             475000|      2000|   ME201900019|     2019|
|  Sold|     3011 S 5th AVE |   95965|    150000|    150000| 91|        960|  4356.0| 23|12/17/2018 0:00| 1/9/2019 0:00|2/14/2019 0:00|             150000|      1930|   ME201804212|     2019|
|  Sold| 413 Buena Vista DR |   93023|    769000|    755000| 62|       1997| 10594.0|162|  8/1/2018 0:00|1/10/2019 0:00|1/11/2019 0:00|             799000|      1959|CRV0-218009673|     2019|
|  Sold|     308 Melrose DR |   93035|    749000|    725000| 36|       1802|  1750.0|136| 8/27/2018 0:00|1/10/2019 0:00|1/11/2019 0:00|             759000|      1985|CRV0-218010836|     2019|
|  Sold|  3764 Oro Dam BLVD |   95966|    110000|     84000| 77|        999|  6534.0|136| 8/27/2018 0:00|1/10/2019 0:00|1/24/2019 0:00|             139000|      1944|   ME201802872|     2019|
|  Sold|       201 Chico RD |   93023|   1349000|   1261530| 73|       2159| 33400.0| 99| 10/4/2018 0:00|1/11/2019 0:00|1/25/2019 0:00|            1349000|      1948|CRV0-218012522|     2019|
|  Sold|    51 Inglewood DR |   95966|    329000|    312500| 63|       1650| 54886.0| 10|  1/3/2019 0:00|1/13/2019 0:00|2/26/2019 0:00|             329000|      1958|   ME201900034|     2019|
|  Sold|5377 Crest Ridge DR |   95966|    237000|    260000| 46|       1170|  7841.0|  7| 1/14/2019 0:00|1/21/2019 0:00|1/28/2019 0:00|             237000|      1975|   ME201804055|     2019|
|  Sold|    6418 Corning CT |   95954|    110000|    110000| 41|       1152| 10454.0|  1| 1/25/2019 0:00|1/26/2019 0:00| 2/1/2019 0:00|             110000|      1980|   ME201900260|     2019|
|  Sold|         6 Ernie LN |   95916|    249900|    234000| 35|       1546| 72745.0|114| 10/5/2018 0:00|1/27/2019 0:00|2/13/2019 0:00|             274900|      1986|   ME201803424|     2019|
|  Sold|   513 Oak Creek LN |   93023|    879000|    910000| 55|       2053| 16400.0| 98|10/25/2018 0:00|1/31/2019 0:00|2/22/2019 0:00|             939000|      1966|CRV0-218013395|     2019|
|  Sold|        968 Mort LN |   95973|     75000|     85000| 44|        720| 13068.0| 24| 1/11/2019 0:00| 2/4/2019 0:00| 2/8/2019 0:00|              75000|      1977|   ME201900110|     2019|
|  Sold|    2656 Bolker WAY |   93041|    440000|    445000| 49|       1282|  4138.0| 94| 11/6/2018 0:00| 2/8/2019 0:00|2/15/2019 0:00|             451000|      1972|CRV0-218013876|     2019|
|  Sold|         8 Nikki CT |   95965|    304900|    310000| 16|       1640|  6098.0|  8| 1/31/2019 0:00| 2/8/2019 0:00|3/15/2019 0:00|             304900|      2005|   ME201900316|     2019|
|  Sold|   2165 Ramelli AVE |   93003|    529000|    529000| 55|       1402|  6000.0|116|10/22/2018 0:00|2/15/2019 0:00|2/26/2019 0:00|             549500|      1966|CRV0-218013302|     2019|
|  Sold|      90 Apache CIR |   95966|    149000|    149000| 42|       1200|  6534.0|  8| 2/13/2019 0:00|2/21/2019 0:00|3/22/2019 0:00|             149000|      1979|   ME201900445|     2019|
|  Sold|     1095 E Meta ST |   93001|    774900|    800000|101|       1028|  5000.0| 34| 1/25/2019 0:00|2/28/2019 0:00|4/12/2019 0:00|             774900|      1920|CRV0-219000916|     2019|
|  Sold|   9218 Holland AVE |   95938|    284218|    276500| 49|       1341|  9148.0| 51|  1/9/2019 0:00| 3/1/2019 0:00|3/29/2019 0:00|             289218|      1972|   ME201900091|     2019|
|  Sold|      3250 Glen AVE |   95966|    200000|    205000| 59|       1452| 18731.0|  5|  3/1/2019 0:00| 3/6/2019 0:00|4/24/2019 0:00|             200000|      1962|   ME201900602|     2019|
+------+--------------------+--------+----------+----------+---+-----------+--------+---+---------------+--------------+--------------+-------------------+----------+--------------+---------+
only showing top 20 rows

In [ ]:
# Rename Zip Code in capital to zip_code
df = df.withColumnRenamed("Zip Code", "zip_code")
#.withColumnRenamed("colName2", "newColName2")
df.show()

+------+--------------------+--------+----------+----------+---+-----------+--------+---+---------------+--------------+--------------+-------------------+----------+--------------+---------+
|Status|      Street Address|zip_code|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|   Listing Date|     Sale Date|    Close Date|Original List Price|Year Built|    MLS Number|Year_Sale|
+------+--------------------+--------+----------+----------+---+-----------+--------+---+---------------+--------------+--------------+-------------------+----------+--------------+---------+
|  Sold|    6882 Norton AVE |   93003|    465000|    415000| 63|       1907|  8400.0| 61| 11/5/2018 0:00| 1/5/2019 0:00|1/18/2019 0:00|             499900|      1958|CRV0-218013798|     2019|
|  Sold| 3177 Wood Creek DR |   95928|    475000|    475000| 21|       1800|  4792.0|  5|  1/2/2019 0:00| 1/7/2019 0:00|1/28/2019 0:00|             475000|      2000|   ME201900019|     2019|
|  Sold|     3011 S 5th AVE |   95965|    150000|    150000| 91|        960|  4356.0| 23|12/17/2018 0:00| 1/9/2019 0:00|2/14/2019 0:00|             150000|      1930|   ME201804212|     2019|
|  Sold| 413 Buena Vista DR |   93023|    769000|    755000| 62|       1997| 10594.0|162|  8/1/2018 0:00|1/10/2019 0:00|1/11/2019 0:00|             799000|      1959|CRV0-218009673|     2019|
|  Sold|     308 Melrose DR |   93035|    749000|    725000| 36|       1802|  1750.0|136| 8/27/2018 0:00|1/10/2019 0:00|1/11/2019 0:00|             759000|      1985|CRV0-218010836|     2019|
|  Sold|  3764 Oro Dam BLVD |   95966|    110000|     84000| 77|        999|  6534.0|136| 8/27/2018 0:00|1/10/2019 0:00|1/24/2019 0:00|             139000|      1944|   ME201802872|     2019|
|  Sold|       201 Chico RD |   93023|   1349000|   1261530| 73|       2159| 33400.0| 99| 10/4/2018 0:00|1/11/2019 0:00|1/25/2019 0:00|            1349000|      1948|CRV0-218012522|     2019|
|  Sold|    51 Inglewood DR |   95966|    329000|    312500| 63|       1650| 54886.0| 10|  1/3/2019 0:00|1/13/2019 0:00|2/26/2019 0:00|             329000|      1958|   ME201900034|     2019|
|  Sold|5377 Crest Ridge DR |   95966|    237000|    260000| 46|       1170|  7841.0|  7| 1/14/2019 0:00|1/21/2019 0:00|1/28/2019 0:00|             237000|      1975|   ME201804055|     2019|
|  Sold|    6418 Corning CT |   95954|    110000|    110000| 41|       1152| 10454.0|  1| 1/25/2019 0:00|1/26/2019 0:00| 2/1/2019 0:00|             110000|      1980|   ME201900260|     2019|
|  Sold|         6 Ernie LN |   95916|    249900|    234000| 35|       1546| 72745.0|114| 10/5/2018 0:00|1/27/2019 0:00|2/13/2019 0:00|             274900|      1986|   ME201803424|     2019|
|  Sold|   513 Oak Creek LN |   93023|    879000|    910000| 55|       2053| 16400.0| 98|10/25/2018 0:00|1/31/2019 0:00|2/22/2019 0:00|             939000|      1966|CRV0-218013395|     2019|
|  Sold|        968 Mort LN |   95973|     75000|     85000| 44|        720| 13068.0| 24| 1/11/2019 0:00| 2/4/2019 0:00| 2/8/2019 0:00|              75000|      1977|   ME201900110|     2019|
|  Sold|    2656 Bolker WAY |   93041|    440000|    445000| 49|       1282|  4138.0| 94| 11/6/2018 0:00| 2/8/2019 0:00|2/15/2019 0:00|             451000|      1972|CRV0-218013876|     2019|
|  Sold|         8 Nikki CT |   95965|    304900|    310000| 16|       1640|  6098.0|  8| 1/31/2019 0:00| 2/8/2019 0:00|3/15/2019 0:00|             304900|      2005|   ME201900316|     2019|
|  Sold|   2165 Ramelli AVE |   93003|    529000|    529000| 55|       1402|  6000.0|116|10/22/2018 0:00|2/15/2019 0:00|2/26/2019 0:00|             549500|      1966|CRV0-218013302|     2019|
|  Sold|      90 Apache CIR |   95966|    149000|    149000| 42|       1200|  6534.0|  8| 2/13/2019 0:00|2/21/2019 0:00|3/22/2019 0:00|             149000|      1979|   ME201900445|     2019|
|  Sold|     1095 E Meta ST |   93001|    774900|    800000|101|       1028|  5000.0| 34| 1/25/2019 0:00|2/28/2019 0:00|4/12/2019 0:00|             774900|      1920|CRV0-219000916|     2019|
|  Sold|   9218 Holland AVE |   95938|    284218|    276500| 49|       1341|  9148.0| 51|  1/9/2019 0:00| 3/1/2019 0:00|3/29/2019 0:00|             289218|      1972|   ME201900091|     2019|
|  Sold|      3250 Glen AVE |   95966|    200000|    205000| 59|       1452| 18731.0|  5|  3/1/2019 0:00| 3/6/2019 0:00|4/24/2019 0:00|             200000|      1962|   ME201900602|     2019|
+------+--------------------+--------+----------+----------+---+-----------+--------+---+---------------+--------------+--------------+-------------------+----------+--------------+---------+
only showing top 20 rows

In [ ]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://tq2cutebucket.s3.us-west-1.amazonaws.com/county_zipcode.csv"
spark.sparkContext.addFile(url)
county_df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("county_zipcode.csv"), sep=",", header=True, inferSchema=True)
county_df.show()
county_df.count()

+--------+--------------+
|zip_code|        county|
+--------+--------------+
|   94063|     San Mateo|
|   92225|     Riverside|
|   92273|      Imperial|
|   92651|        Orange|
|   92801|        Orange|
|   92865|        Orange|
|   92352|San Bernardino|
|   92250|      Imperial|
|   92807|        Orange|
|   92627|        Orange|
|   91935|     San Diego|
|   91773|   Los Angeles|
|   91107|   Los Angeles|
|   93283|          Kern|
|   92866|        Orange|
|   94528|  Contra Costa|
|   95076|    Santa Cruz|
|   90010|   Los Angeles|
|   91905|     San Diego|
|   91016|   Los Angeles|
+--------+--------------+
only showing top 20 rows

51011

In [ ]:
# Join the two DataFrame
joined_df = df.join(county_df, on="zip_code", how="inner")
joined_df.show()
joined_df.count()

+--------+------+--------------------+----------+----------+---+-----------+--------+---+--------------+--------------+--------------+-------------------+----------+------------+---------+--------------+
|zip_code|Status|      Street Address|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|  Listing Date|     Sale Date|    Close Date|Original List Price|Year Built|  MLS Number|Year_Sale|        county|
+--------+------+--------------------+----------+----------+---+-----------+--------+---+--------------+--------------+--------------+-------------------+----------+------------+---------+--------------+
|   94063|  Sold|    757 Douglas AVE |    979998|   1350000| 74|       1708|  5000.0|  9|6/15/2021 0:00|6/24/2021 0:00| 7/6/2021 0:00|             979998|      1947|  ML81848993|     2021|     San Mateo|
|   92225|  Sold|2760 Colorado Riv...|    749900|    710000| 16|       2002| 19602.0|  2| 6/9/2021 0:00|6/11/2021 0:00|7/16/2021 0:00|             749900|      2005|CRSW21124462|     2021|     Riverside|
|   92651|  Sold|       680 Catalina |   1185000|   1850000| 84|        998|  6970.0|  0|6/24/2021 0:00|6/24/2021 0:00|6/24/2021 0:00|            1185000|      1937|CROC21137467|     2021|        Orange|
|   92651|  Sold|        2 S Portola |   4195000|   4250000| 81|       2527|  4104.0| 49| 5/6/2021 0:00|6/24/2021 0:00|7/14/2021 0:00|            4195000|      1940|CRNP21120019|     2021|        Orange|
|   92651|  Sold|  2492 Glenneyre ST |   4950000|   4950000| 31|       4350|  5000.0|  3|6/12/2021 0:00|6/15/2021 0:00|6/29/2021 0:00|            4950000|      1990|CRLG21127787|     2021|        Orange|
|   92651|  Sold|      721 Marlin DR |   4399000|   4650000| 28|       4700|  8250.0| 13|5/31/2021 0:00|6/13/2021 0:00| 7/6/2021 0:00|            4399000|      1993|CRLG21125208|     2021|        Orange|
|   92651|  Sold|20 N Vista De Cat...|   4750000|   4750000| 52|       3611|  7200.0|  0| 5/5/2021 0:00| 5/5/2021 0:00|6/30/2021 0:00|            4750000|      1969|CROC21033919|     2021|        Orange|
|   92801|  Sold|  1218 N Ralston ST |    749900|    780000| 66|       1245|  6000.0|  4|6/10/2021 0:00|6/14/2021 0:00|6/30/2021 0:00|             749900|      1955|CRPW21124539|     2021|        Orange|
|   92865|  Sold|        542 W Cully |    540000|    540000| 65|       1804| 11039.0|  7| 7/2/2021 0:00| 7/9/2021 0:00|7/16/2021 0:00|             540000|      1956|CRSW21145136|     2021|        Orange|
|   92865|  Sold| 810 E Whitecap AVE |    720000|    718000| 61|       1213|  7200.0|  8|6/21/2021 0:00|6/29/2021 0:00| 7/1/2021 0:00|             720000|      1960|CROC21131771|     2021|        Orange|
|   92865|  Sold|  3182 N Ashwood ST |    698000|    676000| 52|       1662|  7000.0| 19| 6/9/2021 0:00|6/28/2021 0:00| 7/8/2021 0:00|             698000|      1969|CRPW21124941|     2021|        Orange|
|   92865|  Sold| 2886 N Santa Fe PL |    679000|    725000| 23|       1600|  1950.0|  6|6/10/2021 0:00|6/16/2021 0:00|7/13/2021 0:00|             679000|      1998|CRPW21125217|     2021|        Orange|
|   92352|  Sold|28626 Shenandoah DR |    864000|   1069000| 19|       2442| 10534.0|  5|6/21/2021 0:00|6/26/2021 0:00|7/15/2021 0:00|             864000|      2002|CRSB21134167|     2021|San Bernardino|
|   92352|  Sold|   27316 Matterhorn |    550000|    550000| 34|       1854| 13667.0|  3|6/22/2021 0:00|6/25/2021 0:00|7/15/2021 0:00|             550000|      1987|CREV21135815|     2021|San Bernardino|
|   92352|  Sold|     838 Bishorn DR |    499000|    510000| 45|       1672|  7910.0|  6|6/16/2021 0:00|6/22/2021 0:00|7/21/2021 0:00|             499000|      1976|CREV21130449|     2021|San Bernardino|
|   92352|  Sold|  27098 Teakwood CT |    525000|    590000| 39|       2040|  9581.0| 12| 6/9/2021 0:00|6/21/2021 0:00| 7/9/2021 0:00|             525000|      1982|CREV21124734|     2021|San Bernardino|
|   92352|  Sold|   27255 Bernina DR |    550000|    560000| 53|       1638|  9750.0|  5|6/10/2021 0:00|6/15/2021 0:00|7/20/2021 0:00|             550000|      1968|CREV21126818|     2021|San Bernardino|
|   92352|  Sold|   1227 Klondike DR |    539000|    570000| 45|       1228|  7200.0|  5|6/10/2021 0:00|6/15/2021 0:00|7/20/2021 0:00|             539000|      1976|CREV21126696|     2021|San Bernardino|
|   92807|  Sold|5507 E Vista Del ...|    638800|    650000| 44|       1646|  1466.0|  4|6/27/2021 0:00| 7/1/2021 0:00|7/14/2021 0:00|             638800|      1977|CRNP21139948|     2021|        Orange|
|   92807|  Sold| 6518 E Via Estrada |    849900|    890000| 47|       1607| 10175.0|  5|6/21/2021 0:00|6/26/2021 0:00|7/19/2021 0:00|             849900|      1974|CROC21134191|     2021|        Orange|
+--------+------+--------------------+----------+----------+---+-----------+--------+---+--------------+--------------+--------------+-------------------+----------+------------+---------+--------------+
only showing top 20 rows

121510

In [ ]:
modify_df = joined_df.select("MLS Number", "Street Address", "zip_code", "county", "List Price", "Sale Price", "Age", "Sq Ft Total", "Lot Size","DOM","Year_Sale","Listing Date","Sale Date", "Year Built")
modify_df.show()
modify_df.count()

+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+
|  MLS Number|      Street Address|zip_code|        county|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|Year_Sale|  Listing Date|     Sale Date|Year Built|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+
|  ML81848993|    757 Douglas AVE |   94063|     San Mateo|    979998|   1350000| 74|       1708|  5000.0|  9|     2021|6/15/2021 0:00|6/24/2021 0:00|      1947|
|CRSW21124462|2760 Colorado Riv...|   92225|     Riverside|    749900|    710000| 16|       2002| 19602.0|  2|     2021| 6/9/2021 0:00|6/11/2021 0:00|      2005|
|CROC21137467|       680 Catalina |   92651|        Orange|   1185000|   1850000| 84|        998|  6970.0|  0|     2021|6/24/2021 0:00|6/24/2021 0:00|      1937|
|CRNP21120019|        2 S Portola |   92651|        Orange|   4195000|   4250000| 81|       2527|  4104.0| 49|     2021| 5/6/2021 0:00|6/24/2021 0:00|      1940|
|CRLG21127787|  2492 Glenneyre ST |   92651|        Orange|   4950000|   4950000| 31|       4350|  5000.0|  3|     2021|6/12/2021 0:00|6/15/2021 0:00|      1990|
|CRLG21125208|      721 Marlin DR |   92651|        Orange|   4399000|   4650000| 28|       4700|  8250.0| 13|     2021|5/31/2021 0:00|6/13/2021 0:00|      1993|
|CROC21033919|20 N Vista De Cat...|   92651|        Orange|   4750000|   4750000| 52|       3611|  7200.0|  0|     2021| 5/5/2021 0:00| 5/5/2021 0:00|      1969|
|CRPW21124539|  1218 N Ralston ST |   92801|        Orange|    749900|    780000| 66|       1245|  6000.0|  4|     2021|6/10/2021 0:00|6/14/2021 0:00|      1955|
|CRSW21145136|        542 W Cully |   92865|        Orange|    540000|    540000| 65|       1804| 11039.0|  7|     2021| 7/2/2021 0:00| 7/9/2021 0:00|      1956|
|CROC21131771| 810 E Whitecap AVE |   92865|        Orange|    720000|    718000| 61|       1213|  7200.0|  8|     2021|6/21/2021 0:00|6/29/2021 0:00|      1960|
|CRPW21124941|  3182 N Ashwood ST |   92865|        Orange|    698000|    676000| 52|       1662|  7000.0| 19|     2021| 6/9/2021 0:00|6/28/2021 0:00|      1969|
|CRPW21125217| 2886 N Santa Fe PL |   92865|        Orange|    679000|    725000| 23|       1600|  1950.0|  6|     2021|6/10/2021 0:00|6/16/2021 0:00|      1998|
|CRSB21134167|28626 Shenandoah DR |   92352|San Bernardino|    864000|   1069000| 19|       2442| 10534.0|  5|     2021|6/21/2021 0:00|6/26/2021 0:00|      2002|
|CREV21135815|   27316 Matterhorn |   92352|San Bernardino|    550000|    550000| 34|       1854| 13667.0|  3|     2021|6/22/2021 0:00|6/25/2021 0:00|      1987|
|CREV21130449|     838 Bishorn DR |   92352|San Bernardino|    499000|    510000| 45|       1672|  7910.0|  6|     2021|6/16/2021 0:00|6/22/2021 0:00|      1976|
|CREV21124734|  27098 Teakwood CT |   92352|San Bernardino|    525000|    590000| 39|       2040|  9581.0| 12|     2021| 6/9/2021 0:00|6/21/2021 0:00|      1982|
|CREV21126818|   27255 Bernina DR |   92352|San Bernardino|    550000|    560000| 53|       1638|  9750.0|  5|     2021|6/10/2021 0:00|6/15/2021 0:00|      1968|
|CREV21126696|   1227 Klondike DR |   92352|San Bernardino|    539000|    570000| 45|       1228|  7200.0|  5|     2021|6/10/2021 0:00|6/15/2021 0:00|      1976|
|CRNP21139948|5507 E Vista Del ...|   92807|        Orange|    638800|    650000| 44|       1646|  1466.0|  4|     2021|6/27/2021 0:00| 7/1/2021 0:00|      1977|
|CROC21134191| 6518 E Via Estrada |   92807|        Orange|    849900|    890000| 47|       1607| 10175.0|  5|     2021|6/21/2021 0:00|6/26/2021 0:00|      1974|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+
only showing top 20 rows

121510

In [ ]:
from pyspark.ml.feature import StringIndexer

#OneHotEncoderEstimator

# create object of StringIndexer class and specify input and output column
SI_county = StringIndexer(inputCol='county',outputCol='County_Index')

# transform the data
modify_df = SI_county.fit(modify_df).transform(modify_df)

# view the transformed data
modify_df.select('county', 'County_Index').show(10)

modify_df.show()

+---------+------------+
|   county|County_Index|
+---------+------------+
|San Mateo|        11.0|
|Riverside|         3.0|
|   Orange|         1.0|
|   Orange|         1.0|
|   Orange|         1.0|
|   Orange|         1.0|
|   Orange|         1.0|
|   Orange|         1.0|
|   Orange|         1.0|
|   Orange|         1.0|
+---------+------------+
only showing top 10 rows

+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|  MLS Number|      Street Address|zip_code|        county|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|Year_Sale|  Listing Date|     Sale Date|Year Built|County_Index|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|  ML81848993|    757 Douglas AVE |   94063|     San Mateo|    979998|   1350000| 74|       1708|  5000.0|  9|     2021|6/15/2021 0:00|6/24/2021 0:00|      1947|        11.0|
|CRSW21124462|2760 Colorado Riv...|   92225|     Riverside|    749900|    710000| 16|       2002| 19602.0|  2|     2021| 6/9/2021 0:00|6/11/2021 0:00|      2005|         3.0|
|CROC21137467|       680 Catalina |   92651|        Orange|   1185000|   1850000| 84|        998|  6970.0|  0|     2021|6/24/2021 0:00|6/24/2021 0:00|      1937|         1.0|
|CRNP21120019|        2 S Portola |   92651|        Orange|   4195000|   4250000| 81|       2527|  4104.0| 49|     2021| 5/6/2021 0:00|6/24/2021 0:00|      1940|         1.0|
|CRLG21127787|  2492 Glenneyre ST |   92651|        Orange|   4950000|   4950000| 31|       4350|  5000.0|  3|     2021|6/12/2021 0:00|6/15/2021 0:00|      1990|         1.0|
|CRLG21125208|      721 Marlin DR |   92651|        Orange|   4399000|   4650000| 28|       4700|  8250.0| 13|     2021|5/31/2021 0:00|6/13/2021 0:00|      1993|         1.0|
|CROC21033919|20 N Vista De Cat...|   92651|        Orange|   4750000|   4750000| 52|       3611|  7200.0|  0|     2021| 5/5/2021 0:00| 5/5/2021 0:00|      1969|         1.0|
|CRPW21124539|  1218 N Ralston ST |   92801|        Orange|    749900|    780000| 66|       1245|  6000.0|  4|     2021|6/10/2021 0:00|6/14/2021 0:00|      1955|         1.0|
|CRSW21145136|        542 W Cully |   92865|        Orange|    540000|    540000| 65|       1804| 11039.0|  7|     2021| 7/2/2021 0:00| 7/9/2021 0:00|      1956|         1.0|
|CROC21131771| 810 E Whitecap AVE |   92865|        Orange|    720000|    718000| 61|       1213|  7200.0|  8|     2021|6/21/2021 0:00|6/29/2021 0:00|      1960|         1.0|
|CRPW21124941|  3182 N Ashwood ST |   92865|        Orange|    698000|    676000| 52|       1662|  7000.0| 19|     2021| 6/9/2021 0:00|6/28/2021 0:00|      1969|         1.0|
|CRPW21125217| 2886 N Santa Fe PL |   92865|        Orange|    679000|    725000| 23|       1600|  1950.0|  6|     2021|6/10/2021 0:00|6/16/2021 0:00|      1998|         1.0|
|CRSB21134167|28626 Shenandoah DR |   92352|San Bernardino|    864000|   1069000| 19|       2442| 10534.0|  5|     2021|6/21/2021 0:00|6/26/2021 0:00|      2002|         8.0|
|CREV21135815|   27316 Matterhorn |   92352|San Bernardino|    550000|    550000| 34|       1854| 13667.0|  3|     2021|6/22/2021 0:00|6/25/2021 0:00|      1987|         8.0|
|CREV21130449|     838 Bishorn DR |   92352|San Bernardino|    499000|    510000| 45|       1672|  7910.0|  6|     2021|6/16/2021 0:00|6/22/2021 0:00|      1976|         8.0|
|CREV21124734|  27098 Teakwood CT |   92352|San Bernardino|    525000|    590000| 39|       2040|  9581.0| 12|     2021| 6/9/2021 0:00|6/21/2021 0:00|      1982|         8.0|
|CREV21126818|   27255 Bernina DR |   92352|San Bernardino|    550000|    560000| 53|       1638|  9750.0|  5|     2021|6/10/2021 0:00|6/15/2021 0:00|      1968|         8.0|
|CREV21126696|   1227 Klondike DR |   92352|San Bernardino|    539000|    570000| 45|       1228|  7200.0|  5|     2021|6/10/2021 0:00|6/15/2021 0:00|      1976|         8.0|
|CRNP21139948|5507 E Vista Del ...|   92807|        Orange|    638800|    650000| 44|       1646|  1466.0|  4|     2021|6/27/2021 0:00| 7/1/2021 0:00|      1977|         1.0|
|CROC21134191| 6518 E Via Estrada |   92807|        Orange|    849900|    890000| 47|       1607| 10175.0|  5|     2021|6/21/2021 0:00|6/26/2021 0:00|      1974|         1.0|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
only showing top 20 rows

In [ ]:
### Show the df after adding the county index column
modify_df.show()

+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|  MLS Number|      Street Address|zip_code|        county|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|Year_Sale|  Listing Date|     Sale Date|Year Built|County_Index|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|  ML81848993|    757 Douglas AVE |   94063|     San Mateo|    979998|   1350000| 74|       1708|  5000.0|  9|     2021|6/15/2021 0:00|6/24/2021 0:00|      1947|        11.0|
|CRSW21124462|2760 Colorado Riv...|   92225|     Riverside|    749900|    710000| 16|       2002| 19602.0|  2|     2021| 6/9/2021 0:00|6/11/2021 0:00|      2005|         3.0|
|CROC21137467|       680 Catalina |   92651|        Orange|   1185000|   1850000| 84|        998|  6970.0|  0|     2021|6/24/2021 0:00|6/24/2021 0:00|      1937|         1.0|
|CRNP21120019|        2 S Portola |   92651|        Orange|   4195000|   4250000| 81|       2527|  4104.0| 49|     2021| 5/6/2021 0:00|6/24/2021 0:00|      1940|         1.0|
|CRLG21127787|  2492 Glenneyre ST |   92651|        Orange|   4950000|   4950000| 31|       4350|  5000.0|  3|     2021|6/12/2021 0:00|6/15/2021 0:00|      1990|         1.0|
|CRLG21125208|      721 Marlin DR |   92651|        Orange|   4399000|   4650000| 28|       4700|  8250.0| 13|     2021|5/31/2021 0:00|6/13/2021 0:00|      1993|         1.0|
|CROC21033919|20 N Vista De Cat...|   92651|        Orange|   4750000|   4750000| 52|       3611|  7200.0|  0|     2021| 5/5/2021 0:00| 5/5/2021 0:00|      1969|         1.0|
|CRPW21124539|  1218 N Ralston ST |   92801|        Orange|    749900|    780000| 66|       1245|  6000.0|  4|     2021|6/10/2021 0:00|6/14/2021 0:00|      1955|         1.0|
|CRSW21145136|        542 W Cully |   92865|        Orange|    540000|    540000| 65|       1804| 11039.0|  7|     2021| 7/2/2021 0:00| 7/9/2021 0:00|      1956|         1.0|
|CROC21131771| 810 E Whitecap AVE |   92865|        Orange|    720000|    718000| 61|       1213|  7200.0|  8|     2021|6/21/2021 0:00|6/29/2021 0:00|      1960|         1.0|
|CRPW21124941|  3182 N Ashwood ST |   92865|        Orange|    698000|    676000| 52|       1662|  7000.0| 19|     2021| 6/9/2021 0:00|6/28/2021 0:00|      1969|         1.0|
|CRPW21125217| 2886 N Santa Fe PL |   92865|        Orange|    679000|    725000| 23|       1600|  1950.0|  6|     2021|6/10/2021 0:00|6/16/2021 0:00|      1998|         1.0|
|CRSB21134167|28626 Shenandoah DR |   92352|San Bernardino|    864000|   1069000| 19|       2442| 10534.0|  5|     2021|6/21/2021 0:00|6/26/2021 0:00|      2002|         8.0|
|CREV21135815|   27316 Matterhorn |   92352|San Bernardino|    550000|    550000| 34|       1854| 13667.0|  3|     2021|6/22/2021 0:00|6/25/2021 0:00|      1987|         8.0|
|CREV21130449|     838 Bishorn DR |   92352|San Bernardino|    499000|    510000| 45|       1672|  7910.0|  6|     2021|6/16/2021 0:00|6/22/2021 0:00|      1976|         8.0|
|CREV21124734|  27098 Teakwood CT |   92352|San Bernardino|    525000|    590000| 39|       2040|  9581.0| 12|     2021| 6/9/2021 0:00|6/21/2021 0:00|      1982|         8.0|
|CREV21126818|   27255 Bernina DR |   92352|San Bernardino|    550000|    560000| 53|       1638|  9750.0|  5|     2021|6/10/2021 0:00|6/15/2021 0:00|      1968|         8.0|
|CREV21126696|   1227 Klondike DR |   92352|San Bernardino|    539000|    570000| 45|       1228|  7200.0|  5|     2021|6/10/2021 0:00|6/15/2021 0:00|      1976|         8.0|
|CRNP21139948|5507 E Vista Del ...|   92807|        Orange|    638800|    650000| 44|       1646|  1466.0|  4|     2021|6/27/2021 0:00| 7/1/2021 0:00|      1977|         1.0|
|CROC21134191| 6518 E Via Estrada |   92807|        Orange|    849900|    890000| 47|       1607| 10175.0|  5|     2021|6/21/2021 0:00|6/26/2021 0:00|      1974|         1.0|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
only showing top 20 rows

In [ ]:
# import sql function pyspark
import pyspark.sql.functions as f

# null values in each column
data_agg = modify_df.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in modify_df.columns])
data_agg.show()

+----------+--------------+--------+------+----------+----------+---+-----------+--------+---+---------+------------+---------+----------+------------+
|MLS Number|Street Address|zip_code|county|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|Year_Sale|Listing Date|Sale Date|Year Built|County_Index|
+----------+--------------+--------+------+----------+----------+---+-----------+--------+---+---------+------------+---------+----------+------------+
|         0|             0|       0|     0|         0|         0|  0|          0|       0|  0|        0|           0|        0|         0|           0|
+----------+--------------+--------+------+----------+----------+---+-----------+--------+---+---------+------------+---------+----------+------------+

In [ ]:
# Drop null values
final_df = modify_df.dropDuplicates(['MLS Number', 'zip_code', "Year_Sale", 'Sale Price', 'Listing Date'])
final_df.show()
final_df.count()

+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|  MLS Number|      Street Address|zip_code|        county|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|Year_Sale|  Listing Date|     Sale Date|Year Built|County_Index|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|CRPW21118939|  12930 Burgess AVE |   90638|   Los Angeles|    845000|    845000| 62|       1592|  6303.0| 13|     2021| 6/2/2021 0:00|6/15/2021 0:00|      1959|         0.0|
|CNSR21122752| 4916 Greenbush AVE |   91423|   Los Angeles|   1600000|   1710000| 70|       2475|  7206.0|  8|     2021|6/11/2021 0:00|6/19/2021 0:00|      1951|         0.0|
|CRNDP2106998|       6211 Agee ST |   92122|     San Diego|   1388000|   1428000| 53|       1698|  7100.0| 12|     2021|6/10/2021 0:00|6/22/2021 0:00|      1968|         7.0|
|CRPTP2104175|10615 GREENFORD D...|   92126|     San Diego|    975000|    945000| 42|       1900|  6400.0| 19|     2021|6/10/2021 0:00|6/29/2021 0:00|      1979|         7.0|
|CRIG21127301|16722 Desert Will...|   92394|San Bernardino|    379900|    417000| 14|       2607|  6249.0|  6|     2021|6/11/2021 0:00|6/17/2021 0:00|      2007|         8.0|
|CRIG21124407|      4064 Tamarind |   92530|     Riverside|    555000|    555000|  4|       1851|  6970.0|  6|     2021| 6/9/2021 0:00|6/15/2021 0:00|      2017|         3.0|
|CROC21125012|   5252 Vineland DR |   92649|        Orange|    975000|   1040000| 55|       2105|  6262.0| 20|     2021|6/12/2021 0:00| 7/2/2021 0:00|      1966|         1.0|
|CRIG21111996| 3175 Timberline DR |   92882|     Riverside|    675000|    701000| 33|       1700|  5227.0| 39|     2021| 5/7/2021 0:00|6/15/2021 0:00|      1988|         3.0|
|  ML81848203|      102 Nueva AVE |   94061|     San Mateo|   1298000|   1385000| 66|        910|  4185.0|  8|     2021|6/10/2021 0:00|6/18/2021 0:00|      1955|        11.0|
|  EB40953716|    238 Lawrence Ln |   94513|  Contra Costa|    680000|    700000| 18|       1832|  5266.0|  7|     2021|6/10/2021 0:00|6/17/2021 0:00|      2003|         4.0|
|  CC40955293|   1255 Coventry Rd |   94518|  Contra Costa|    730000|    803000| 56|       1072|  5400.0|  9|     2021|6/23/2021 0:00| 7/2/2021 0:00|      1965|         4.0|
|  ML81851863|4170 Rivermark PKWY |   95054|   Santa Clara|   2400000|   2400000| 18|       3395|  3394.0|  0|     2021| 7/2/2021 0:00| 7/2/2021 0:00|      2003|         6.0|
|  ML81848133|1540 Capitancillo...|   95120|   Santa Clara|   1825000|   1875000| 42|       2522| 10776.0|  9|     2021| 6/9/2021 0:00|6/18/2021 0:00|      1979|         6.0|
|  ML81853760|      4018 Tuers RD |   95121|   Santa Clara|   1000000|   1000000| 43|       1633|  7235.0|  0|     2021|7/15/2021 0:00|7/15/2021 0:00|      1978|         6.0|
| ME221069947|8705 Los Encantos...|   95624|    Sacramento|    479999|    479000| 42|       1456|  7802.0|  4|     2021|6/17/2021 0:00|6/21/2021 0:00|      1979|         2.0|
| ME221071832|  1637 Caislean WAY |   95630|    Sacramento|    700000|    690000| 20|       1607|  6085.0|  5|     2021|6/23/2021 0:00|6/28/2021 0:00|      2001|         2.0|
| ME221066268|6527 Mystery Moun...|   95765|        Placer|    525000|    535000| 20|       1650|  5663.0|  4|     2021|6/11/2021 0:00|6/15/2021 0:00|      2001|        10.0|
|   CRP1-5385|   1428 Hacienda DR |   91011|   Los Angeles|   2800000|   2780000| 56|       3637| 17421.0| 36|     2021|5/18/2021 0:00|6/23/2021 0:00|      1965|         0.0|
|CNSR21123928| 19458 Maldonado PL |   91350|   Los Angeles|    831000|    831000|  3|       1943|  5811.0| 12|     2021|6/10/2021 0:00|6/22/2021 0:00|      2018|         0.0|
|CROC21112305|  29069 Sterling LN |   91354|   Los Angeles|    928000|    925000|  7|       2796|  5329.0|  7|     2021| 6/9/2021 0:00|6/16/2021 0:00|      2014|         0.0|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
only showing top 20 rows

4190

In [ ]:
final_df.na.drop(how='all')
final_df.show()
final_df.count()

+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|  MLS Number|      Street Address|zip_code|        county|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|Year_Sale|  Listing Date|     Sale Date|Year Built|County_Index|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
|CRPW21118939|  12930 Burgess AVE |   90638|   Los Angeles|    845000|    845000| 62|       1592|  6303.0| 13|     2021| 6/2/2021 0:00|6/15/2021 0:00|      1959|         0.0|
|CNSR21122752| 4916 Greenbush AVE |   91423|   Los Angeles|   1600000|   1710000| 70|       2475|  7206.0|  8|     2021|6/11/2021 0:00|6/19/2021 0:00|      1951|         0.0|
|CRNDP2106998|       6211 Agee ST |   92122|     San Diego|   1388000|   1428000| 53|       1698|  7100.0| 12|     2021|6/10/2021 0:00|6/22/2021 0:00|      1968|         7.0|
|CRPTP2104175|10615 GREENFORD D...|   92126|     San Diego|    975000|    945000| 42|       1900|  6400.0| 19|     2021|6/10/2021 0:00|6/29/2021 0:00|      1979|         7.0|
|CRIG21127301|16722 Desert Will...|   92394|San Bernardino|    379900|    417000| 14|       2607|  6249.0|  6|     2021|6/11/2021 0:00|6/17/2021 0:00|      2007|         8.0|
|CRIG21124407|      4064 Tamarind |   92530|     Riverside|    555000|    555000|  4|       1851|  6970.0|  6|     2021| 6/9/2021 0:00|6/15/2021 0:00|      2017|         3.0|
|CROC21125012|   5252 Vineland DR |   92649|        Orange|    975000|   1040000| 55|       2105|  6262.0| 20|     2021|6/12/2021 0:00| 7/2/2021 0:00|      1966|         1.0|
|CRIG21111996| 3175 Timberline DR |   92882|     Riverside|    675000|    701000| 33|       1700|  5227.0| 39|     2021| 5/7/2021 0:00|6/15/2021 0:00|      1988|         3.0|
|  ML81848203|      102 Nueva AVE |   94061|     San Mateo|   1298000|   1385000| 66|        910|  4185.0|  8|     2021|6/10/2021 0:00|6/18/2021 0:00|      1955|        11.0|
|  EB40953716|    238 Lawrence Ln |   94513|  Contra Costa|    680000|    700000| 18|       1832|  5266.0|  7|     2021|6/10/2021 0:00|6/17/2021 0:00|      2003|         4.0|
|  CC40955293|   1255 Coventry Rd |   94518|  Contra Costa|    730000|    803000| 56|       1072|  5400.0|  9|     2021|6/23/2021 0:00| 7/2/2021 0:00|      1965|         4.0|
|  ML81851863|4170 Rivermark PKWY |   95054|   Santa Clara|   2400000|   2400000| 18|       3395|  3394.0|  0|     2021| 7/2/2021 0:00| 7/2/2021 0:00|      2003|         6.0|
|  ML81848133|1540 Capitancillo...|   95120|   Santa Clara|   1825000|   1875000| 42|       2522| 10776.0|  9|     2021| 6/9/2021 0:00|6/18/2021 0:00|      1979|         6.0|
|  ML81853760|      4018 Tuers RD |   95121|   Santa Clara|   1000000|   1000000| 43|       1633|  7235.0|  0|     2021|7/15/2021 0:00|7/15/2021 0:00|      1978|         6.0|
| ME221069947|8705 Los Encantos...|   95624|    Sacramento|    479999|    479000| 42|       1456|  7802.0|  4|     2021|6/17/2021 0:00|6/21/2021 0:00|      1979|         2.0|
| ME221071832|  1637 Caislean WAY |   95630|    Sacramento|    700000|    690000| 20|       1607|  6085.0|  5|     2021|6/23/2021 0:00|6/28/2021 0:00|      2001|         2.0|
| ME221066268|6527 Mystery Moun...|   95765|        Placer|    525000|    535000| 20|       1650|  5663.0|  4|     2021|6/11/2021 0:00|6/15/2021 0:00|      2001|        10.0|
|   CRP1-5385|   1428 Hacienda DR |   91011|   Los Angeles|   2800000|   2780000| 56|       3637| 17421.0| 36|     2021|5/18/2021 0:00|6/23/2021 0:00|      1965|         0.0|
|CNSR21123928| 19458 Maldonado PL |   91350|   Los Angeles|    831000|    831000|  3|       1943|  5811.0| 12|     2021|6/10/2021 0:00|6/22/2021 0:00|      2018|         0.0|
|CROC21112305|  29069 Sterling LN |   91354|   Los Angeles|    928000|    925000|  7|       2796|  5329.0|  7|     2021| 6/9/2021 0:00|6/16/2021 0:00|      2014|         0.0|
+------------+--------------------+--------+--------------+----------+----------+---+-----------+--------+---+---------+--------------+--------------+----------+------------+
only showing top 20 rows

4190

In [ ]:
final_df.printSchema()

root
 |-- MLS Number: string (nullable = true)
 |-- Street Address: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- county: string (nullable = true)
 |-- List Price: integer (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sq Ft Total: integer (nullable = true)
 |-- Lot Size: double (nullable = true)
 |-- DOM: integer (nullable = true)
 |-- Year_Sale: integer (nullable = true)
 |-- Listing Date: string (nullable = true)
 |-- Sale Date: string (nullable = true)
 |-- Year Built: integer (nullable = true)
 |-- County_Index: double (nullable = false)

In [ ]:
final_df.describe().toPandas().transpose()

                    0  ...                  4
summary         count  ...                max
MLS Number       4190  ...        TM21-762052
Street Address   4190  ...  9989 La Porte RD
zip_code         4190  ...              96161
county           4190  ...               Yuba
List Price       4190  ...           15868000
Sale Price       4190  ...           15350000
Age              4190  ...                152
Sq Ft Total      4190  ...              11853
Lot Size         4190  ...         6.181164E8
DOM              4190  ...                892
Year_Sale        4190  ...               2021
Listing Date     4190  ...      9/6/2019 0:00
Sale Date        4190  ...      9/8/2020 0:00
Year Built       4190  ...               2021
County_Index     4190  ...               44.0

[16 rows x 5 columns]

In [ ]:
#import pandas
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
#from config import db_password

In [ ]:
# Get the columns and the rows that are not null.
final_df.dtypes

[('MLS Number', 'string'),
 ('Street Address', 'string'),
 ('zip_code', 'string'),
 ('county', 'string'),
 ('List Price', 'int'),
 ('Sale Price', 'int'),
 ('Age', 'int'),
 ('Sq Ft Total', 'int'),
 ('Lot Size', 'double'),
 ('DOM', 'int'),
 ('Year_Sale', 'int'),
 ('Listing Date', 'string'),
 ('Sale Date', 'string'),
 ('Year Built', 'int'),
 ('County_Index', 'double')]

In [ ]:
#Get all the Lot Size are greater than 800 in a new DataFrame.
final_df = final_df[final_df["Lot Size"] >= 800]
final_df.count()

4190

In [ ]:
# Create user dataframe to match active_user table
house_df = final_df.select('MLS Number', 'Street Address', 'zip_code', 'county', 'age', 'Sq Ft Total', 'Lot size', 'Year Built')
#clean_user_df = cleaned_df.select(["id","first_name","last_name","username"])
house_df.show()

+------------+--------------------+--------+--------------+---+-----------+--------+----------+
|  MLS Number|      Street Address|zip_code|        county|age|Sq Ft Total|Lot size|Year Built|
+------------+--------------------+--------+--------------+---+-----------+--------+----------+
|CRPW21118939|  12930 Burgess AVE |   90638|   Los Angeles| 62|       1592|  6303.0|      1959|
|CNSR21122752| 4916 Greenbush AVE |   91423|   Los Angeles| 70|       2475|  7206.0|      1951|
|CRNDP2106998|       6211 Agee ST |   92122|     San Diego| 53|       1698|  7100.0|      1968|
|CRPTP2104175|10615 GREENFORD D...|   92126|     San Diego| 42|       1900|  6400.0|      1979|
|CRIG21127301|16722 Desert Will...|   92394|San Bernardino| 14|       2607|  6249.0|      2007|
|CRIG21124407|      4064 Tamarind |   92530|     Riverside|  4|       1851|  6970.0|      2017|
|CROC21125012|   5252 Vineland DR |   92649|        Orange| 55|       2105|  6262.0|      1966|
|CRIG21111996| 3175 Timberline DR |   92882|     Riverside| 33|       1700|  5227.0|      1988|
|  ML81848203|      102 Nueva AVE |   94061|     San Mateo| 66|        910|  4185.0|      1955|
|  EB40953716|    238 Lawrence Ln |   94513|  Contra Costa| 18|       1832|  5266.0|      2003|
|  CC40955293|   1255 Coventry Rd |   94518|  Contra Costa| 56|       1072|  5400.0|      1965|
|  ML81851863|4170 Rivermark PKWY |   95054|   Santa Clara| 18|       3395|  3394.0|      2003|
|  ML81848133|1540 Capitancillo...|   95120|   Santa Clara| 42|       2522| 10776.0|      1979|
|  ML81853760|      4018 Tuers RD |   95121|   Santa Clara| 43|       1633|  7235.0|      1978|
| ME221069947|8705 Los Encantos...|   95624|    Sacramento| 42|       1456|  7802.0|      1979|
| ME221071832|  1637 Caislean WAY |   95630|    Sacramento| 20|       1607|  6085.0|      2001|
| ME221066268|6527 Mystery Moun...|   95765|        Placer| 20|       1650|  5663.0|      2001|
|   CRP1-5385|   1428 Hacienda DR |   91011|   Los Angeles| 56|       3637| 17421.0|      1965|
|CNSR21123928| 19458 Maldonado PL |   91350|   Los Angeles|  3|       1943|  5811.0|      2018|
|CROC21112305|  29069 Sterling LN |   91354|   Los Angeles|  7|       2796|  5329.0|      2014|
+------------+--------------------+--------+--------------+---+-----------+--------+----------+
only showing top 20 rows

In [ ]:
# Create user dataframe to match billing_info table
sale_df = final_df.select("MLS Number", "zip_code", "county", "County_Index", "Year_Sale", "List Price", "Sale Price", "Age", "Sq Ft Total", "Lot Size","DOM","Sale Date")
sale_df.show()

+------------+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+
|  MLS Number|zip_code|        county|County_Index|Year_Sale|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|     Sale Date|
+------------+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+
|CRPW21118939|   90638|   Los Angeles|         0.0|     2021|    845000|    845000| 62|       1592|  6303.0| 13|6/15/2021 0:00|
|CNSR21122752|   91423|   Los Angeles|         0.0|     2021|   1600000|   1710000| 70|       2475|  7206.0|  8|6/19/2021 0:00|
|CRNDP2106998|   92122|     San Diego|         7.0|     2021|   1388000|   1428000| 53|       1698|  7100.0| 12|6/22/2021 0:00|
|CRPTP2104175|   92126|     San Diego|         7.0|     2021|    975000|    945000| 42|       1900|  6400.0| 19|6/29/2021 0:00|
|CRIG21127301|   92394|San Bernardino|         8.0|     2021|    379900|    417000| 14|       2607|  6249.0|  6|6/17/2021 0:00|
|CRIG21124407|   92530|     Riverside|         3.0|     2021|    555000|    555000|  4|       1851|  6970.0|  6|6/15/2021 0:00|
|CROC21125012|   92649|        Orange|         1.0|     2021|    975000|   1040000| 55|       2105|  6262.0| 20| 7/2/2021 0:00|
|CRIG21111996|   92882|     Riverside|         3.0|     2021|    675000|    701000| 33|       1700|  5227.0| 39|6/15/2021 0:00|
|  ML81848203|   94061|     San Mateo|        11.0|     2021|   1298000|   1385000| 66|        910|  4185.0|  8|6/18/2021 0:00|
|  EB40953716|   94513|  Contra Costa|         4.0|     2021|    680000|    700000| 18|       1832|  5266.0|  7|6/17/2021 0:00|
|  CC40955293|   94518|  Contra Costa|         4.0|     2021|    730000|    803000| 56|       1072|  5400.0|  9| 7/2/2021 0:00|
|  ML81851863|   95054|   Santa Clara|         6.0|     2021|   2400000|   2400000| 18|       3395|  3394.0|  0| 7/2/2021 0:00|
|  ML81848133|   95120|   Santa Clara|         6.0|     2021|   1825000|   1875000| 42|       2522| 10776.0|  9|6/18/2021 0:00|
|  ML81853760|   95121|   Santa Clara|         6.0|     2021|   1000000|   1000000| 43|       1633|  7235.0|  0|7/15/2021 0:00|
| ME221069947|   95624|    Sacramento|         2.0|     2021|    479999|    479000| 42|       1456|  7802.0|  4|6/21/2021 0:00|
| ME221071832|   95630|    Sacramento|         2.0|     2021|    700000|    690000| 20|       1607|  6085.0|  5|6/28/2021 0:00|
| ME221066268|   95765|        Placer|        10.0|     2021|    525000|    535000| 20|       1650|  5663.0|  4|6/15/2021 0:00|
|   CRP1-5385|   91011|   Los Angeles|         0.0|     2021|   2800000|   2780000| 56|       3637| 17421.0| 36|6/23/2021 0:00|
|CNSR21123928|   91350|   Los Angeles|         0.0|     2021|    831000|    831000|  3|       1943|  5811.0| 12|6/22/2021 0:00|
|CROC21112305|   91354|   Los Angeles|         0.0|     2021|    928000|    925000|  7|       2796|  5329.0|  7|6/16/2021 0:00|
+------------+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+
only showing top 20 rows

In [ ]:
price_df = final_df.select("MLS Number", "county", "County_Index", "Year_Sale", "List Price", "Sale Price", "DOM","Sale Date")
price_df.show()

+------------+--------------+------------+---------+----------+----------+---+--------------+
|  MLS Number|        county|County_Index|Year_Sale|List Price|Sale Price|DOM|     Sale Date|
+------------+--------------+------------+---------+----------+----------+---+--------------+
|CRPW21118939|   Los Angeles|         0.0|     2021|    845000|    845000| 13|6/15/2021 0:00|
|CNSR21122752|   Los Angeles|         0.0|     2021|   1600000|   1710000|  8|6/19/2021 0:00|
|CRNDP2106998|     San Diego|         7.0|     2021|   1388000|   1428000| 12|6/22/2021 0:00|
|CRPTP2104175|     San Diego|         7.0|     2021|    975000|    945000| 19|6/29/2021 0:00|
|CRIG21127301|San Bernardino|         8.0|     2021|    379900|    417000|  6|6/17/2021 0:00|
|CRIG21124407|     Riverside|         3.0|     2021|    555000|    555000|  6|6/15/2021 0:00|
|CROC21125012|        Orange|         1.0|     2021|    975000|   1040000| 20| 7/2/2021 0:00|
|CRIG21111996|     Riverside|         3.0|     2021|    675000|    701000| 39|6/15/2021 0:00|
|  ML81848203|     San Mateo|        11.0|     2021|   1298000|   1385000|  8|6/18/2021 0:00|
|  EB40953716|  Contra Costa|         4.0|     2021|    680000|    700000|  7|6/17/2021 0:00|
|  CC40955293|  Contra Costa|         4.0|     2021|    730000|    803000|  9| 7/2/2021 0:00|
|  ML81851863|   Santa Clara|         6.0|     2021|   2400000|   2400000|  0| 7/2/2021 0:00|
|  ML81848133|   Santa Clara|         6.0|     2021|   1825000|   1875000|  9|6/18/2021 0:00|
|  ML81853760|   Santa Clara|         6.0|     2021|   1000000|   1000000|  0|7/15/2021 0:00|
| ME221069947|    Sacramento|         2.0|     2021|    479999|    479000|  4|6/21/2021 0:00|
| ME221071832|    Sacramento|         2.0|     2021|    700000|    690000|  5|6/28/2021 0:00|
| ME221066268|        Placer|        10.0|     2021|    525000|    535000|  4|6/15/2021 0:00|
|   CRP1-5385|   Los Angeles|         0.0|     2021|   2800000|   2780000| 36|6/23/2021 0:00|
|CNSR21123928|   Los Angeles|         0.0|     2021|    831000|    831000| 12|6/22/2021 0:00|
|CROC21112305|   Los Angeles|         0.0|     2021|    928000|    925000|  7|6/16/2021 0:00|
+------------+--------------+------------+---------+----------+----------+---+--------------+
only showing top 20 rows

In [ ]:
machine_learning_df = final_df.select("zip_code", "county", "County_Index", "Year_Sale", "List Price", "Sale Price", "Age", "Sq Ft Total", "Lot Size","DOM", "Sale Date")
machine_learning_df.show()

+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+
|zip_code|        county|County_Index|Year_Sale|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|     Sale Date|
+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+
|   90638|   Los Angeles|         0.0|     2021|    845000|    845000| 62|       1592|  6303.0| 13|6/15/2021 0:00|
|   91423|   Los Angeles|         0.0|     2021|   1600000|   1710000| 70|       2475|  7206.0|  8|6/19/2021 0:00|
|   92122|     San Diego|         7.0|     2021|   1388000|   1428000| 53|       1698|  7100.0| 12|6/22/2021 0:00|
|   92126|     San Diego|         7.0|     2021|    975000|    945000| 42|       1900|  6400.0| 19|6/29/2021 0:00|
|   92394|San Bernardino|         8.0|     2021|    379900|    417000| 14|       2607|  6249.0|  6|6/17/2021 0:00|
|   92530|     Riverside|         3.0|     2021|    555000|    555000|  4|       1851|  6970.0|  6|6/15/2021 0:00|
|   92649|        Orange|         1.0|     2021|    975000|   1040000| 55|       2105|  6262.0| 20| 7/2/2021 0:00|
|   92882|     Riverside|         3.0|     2021|    675000|    701000| 33|       1700|  5227.0| 39|6/15/2021 0:00|
|   94061|     San Mateo|        11.0|     2021|   1298000|   1385000| 66|        910|  4185.0|  8|6/18/2021 0:00|
|   94513|  Contra Costa|         4.0|     2021|    680000|    700000| 18|       1832|  5266.0|  7|6/17/2021 0:00|
|   94518|  Contra Costa|         4.0|     2021|    730000|    803000| 56|       1072|  5400.0|  9| 7/2/2021 0:00|
|   95054|   Santa Clara|         6.0|     2021|   2400000|   2400000| 18|       3395|  3394.0|  0| 7/2/2021 0:00|
|   95120|   Santa Clara|         6.0|     2021|   1825000|   1875000| 42|       2522| 10776.0|  9|6/18/2021 0:00|
|   95121|   Santa Clara|         6.0|     2021|   1000000|   1000000| 43|       1633|  7235.0|  0|7/15/2021 0:00|
|   95624|    Sacramento|         2.0|     2021|    479999|    479000| 42|       1456|  7802.0|  4|6/21/2021 0:00|
|   95630|    Sacramento|         2.0|     2021|    700000|    690000| 20|       1607|  6085.0|  5|6/28/2021 0:00|
|   95765|        Placer|        10.0|     2021|    525000|    535000| 20|       1650|  5663.0|  4|6/15/2021 0:00|
|   91011|   Los Angeles|         0.0|     2021|   2800000|   2780000| 56|       3637| 17421.0| 36|6/23/2021 0:00|
|   91350|   Los Angeles|         0.0|     2021|    831000|    831000|  3|       1943|  5811.0| 12|6/22/2021 0:00|
|   91354|   Los Angeles|         0.0|     2021|    928000|    925000|  7|       2796|  5329.0|  7|6/16/2021 0:00|
+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+
only showing top 20 rows

In [ ]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-1.cvmp56um73d3.us-west-1.rds.amazonaws.com:5432/Final_Project_db"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [ ]:
# Write DataFrame to active_user table in RDS
house_df.write.jdbc(url=jdbc_url, table='house_info', mode=mode, properties=config)

In [ ]:
# Write dataframe to billing_info table in RDS
sale_df.write.jdbc(url=jdbc_url, table='sale_info', mode=mode, properties=config)

In [ ]:
# Write dataframe to payment_info table in RDS
price_df.write.jdbc(url=jdbc_url, table='price_info', mode=mode, properties=config)

In [ ]:
# Write dataframe to payment_info table in RDS
machine_learning_df.write.jdbc(url=jdbc_url, table='machine_learning', mode=mode, properties=config)

In [ ]:
# Create user dataframe to match billing_info table
final_data_df = final_df.select('MLS Number', 'Street Address', 'zip_code', 'county', 'County_Index', "Year_Sale", 'List Price', 'Sale Price', 'Age', 'Sq Ft Total', 'Lot Size', 'DOM', 'Listing Date', 'Sale Date', 'Year Built')
final_data_df.show()

+------------+--------------------+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+--------------+----------+
|  MLS Number|      Street Address|zip_code|        county|County_Index|Year_Sale|List Price|Sale Price|Age|Sq Ft Total|Lot Size|DOM|  Listing Date|     Sale Date|Year Built|
+------------+--------------------+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+--------------+----------+
|CRPW21118939|  12930 Burgess AVE |   90638|   Los Angeles|         0.0|     2021|    845000|    845000| 62|       1592|  6303.0| 13| 6/2/2021 0:00|6/15/2021 0:00|      1959|
|CNSR21122752| 4916 Greenbush AVE |   91423|   Los Angeles|         0.0|     2021|   1600000|   1710000| 70|       2475|  7206.0|  8|6/11/2021 0:00|6/19/2021 0:00|      1951|
|CRNDP2106998|       6211 Agee ST |   92122|     San Diego|         7.0|     2021|   1388000|   1428000| 53|       1698|  7100.0| 12|6/10/2021 0:00|6/22/2021 0:00|      1968|
|CRPTP2104175|10615 GREENFORD D...|   92126|     San Diego|         7.0|     2021|    975000|    945000| 42|       1900|  6400.0| 19|6/10/2021 0:00|6/29/2021 0:00|      1979|
|CRIG21127301|16722 Desert Will...|   92394|San Bernardino|         8.0|     2021|    379900|    417000| 14|       2607|  6249.0|  6|6/11/2021 0:00|6/17/2021 0:00|      2007|
|CRIG21124407|      4064 Tamarind |   92530|     Riverside|         3.0|     2021|    555000|    555000|  4|       1851|  6970.0|  6| 6/9/2021 0:00|6/15/2021 0:00|      2017|
|CROC21125012|   5252 Vineland DR |   92649|        Orange|         1.0|     2021|    975000|   1040000| 55|       2105|  6262.0| 20|6/12/2021 0:00| 7/2/2021 0:00|      1966|
|CRIG21111996| 3175 Timberline DR |   92882|     Riverside|         3.0|     2021|    675000|    701000| 33|       1700|  5227.0| 39| 5/7/2021 0:00|6/15/2021 0:00|      1988|
|  ML81848203|      102 Nueva AVE |   94061|     San Mateo|        11.0|     2021|   1298000|   1385000| 66|        910|  4185.0|  8|6/10/2021 0:00|6/18/2021 0:00|      1955|
|  EB40953716|    238 Lawrence Ln |   94513|  Contra Costa|         4.0|     2021|    680000|    700000| 18|       1832|  5266.0|  7|6/10/2021 0:00|6/17/2021 0:00|      2003|
|  CC40955293|   1255 Coventry Rd |   94518|  Contra Costa|         4.0|     2021|    730000|    803000| 56|       1072|  5400.0|  9|6/23/2021 0:00| 7/2/2021 0:00|      1965|
|  ML81851863|4170 Rivermark PKWY |   95054|   Santa Clara|         6.0|     2021|   2400000|   2400000| 18|       3395|  3394.0|  0| 7/2/2021 0:00| 7/2/2021 0:00|      2003|
|  ML81848133|1540 Capitancillo...|   95120|   Santa Clara|         6.0|     2021|   1825000|   1875000| 42|       2522| 10776.0|  9| 6/9/2021 0:00|6/18/2021 0:00|      1979|
|  ML81853760|      4018 Tuers RD |   95121|   Santa Clara|         6.0|     2021|   1000000|   1000000| 43|       1633|  7235.0|  0|7/15/2021 0:00|7/15/2021 0:00|      1978|
| ME221069947|8705 Los Encantos...|   95624|    Sacramento|         2.0|     2021|    479999|    479000| 42|       1456|  7802.0|  4|6/17/2021 0:00|6/21/2021 0:00|      1979|
| ME221071832|  1637 Caislean WAY |   95630|    Sacramento|         2.0|     2021|    700000|    690000| 20|       1607|  6085.0|  5|6/23/2021 0:00|6/28/2021 0:00|      2001|
| ME221066268|6527 Mystery Moun...|   95765|        Placer|        10.0|     2021|    525000|    535000| 20|       1650|  5663.0|  4|6/11/2021 0:00|6/15/2021 0:00|      2001|
|   CRP1-5385|   1428 Hacienda DR |   91011|   Los Angeles|         0.0|     2021|   2800000|   2780000| 56|       3637| 17421.0| 36|5/18/2021 0:00|6/23/2021 0:00|      1965|
|CNSR21123928| 19458 Maldonado PL |   91350|   Los Angeles|         0.0|     2021|    831000|    831000|  3|       1943|  5811.0| 12|6/10/2021 0:00|6/22/2021 0:00|      2018|
|CROC21112305|  29069 Sterling LN |   91354|   Los Angeles|         0.0|     2021|    928000|    925000|  7|       2796|  5329.0|  7| 6/9/2021 0:00|6/16/2021 0:00|      2014|
+------------+--------------------+--------+--------------+------------+---------+----------+----------+---+-----------+--------+---+--------------+--------------+----------+
only showing top 20 rows

In [ ]:
# Write dataframe to payment_info table in RDS
final_data_df.write.jdbc(url=jdbc_url, table='final_data', mode=mode, properties=config)