In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [510 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.7 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,263 kB]
Get:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,420 kB]
Get:19 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [62.9 kB]
Ign:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [695 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,786 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [544 kB]
Get:24 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [914 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [39.4 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,698 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,195 kB]
Get:28 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.1 kB]
Fetched 13.5 MB in 4s (3,015 kB/s)
Reading package lists... Done

In [2]:
# First, enter the following code to download a Postgres driver that will allow Spark to interact with Postgres:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-08-06 04:37:46--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-08-06 04:37:47 (6.59 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final_data").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://tq2cutebucket.s3.us-west-1.amazonaws.com/big_main.csv"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("big_main.csv"), sep=",", header=True, inferSchema=True)
df.show()

+------------+--------------------+--------------------+--------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|  MLS_Number|      Street_Address|                City|Zip_Code|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_Sold|Year_List|List_Price|Sale_Price|  Listing_Date|     Sale_Date|Year_Built|
+------------+--------------------+--------------------+--------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|  ML81845207|     5 Faxon Forest |            Atherton|   94027|     9587| 43791.0| 14|         7|        5|        5|        2|  5|     2021|     2021|  21995000|  23050000|5/21/2021 0:00|5/26/2021 0:00|      2007|
| TM21-737738|     807 Cinthia ST |       Beverly Hills|   90210|    13300| 30204.0|  3|        12|        7|        8|        4|  1|     2021|     2021|  24999000|  21150000|5/27/2021 0:00|5/28/2021 0:00|      2018|
| BA321051636|       200 Sarah DR |         Mill Valley|   94941|     5151|165528.0| 28|         4|        5|        3|        1| 14|     2021|     2021|  17000000|  19500000| 4/5/2021 0:00|4/19/2021 0:00|      1993|
|CROC21085005|      35 Tide Watch |       Newport Coast|   92657|     8134| 17499.0| 13|         4|        6|        3|        1| 32|     2021|     2021|  15995000|  15400000|4/20/2021 0:00|5/22/2021 0:00|      2008|
| TM21-762052|      622 Walden DR |       Beverly Hills|   90210|     8918| 13074.0| 13|         8|        5|        6|        2|  1|     2021|     2021|  13500000|  13500000|5/26/2021 0:00|5/27/2021 0:00|      2008|
|CROC21105843| 7 Pacific Ridge PL |          Dana Point|   92629|     7100| 12545.0|  5|         7|        5|        4|        3|  0|     2021|     2021|  13495000|  13495000|5/17/2021 0:00|5/17/2021 0:00|      2016|
|CRAR21102457| 1235 Shenandoah RD |          San Marino|   91108|     8280| 41036.0| 70|         8|        8|        6|        2|  9|     2021|     2021|   9680000|   9780000|5/19/2021 0:00|5/28/2021 0:00|      1951|
|  ML81844741| 13791 La Paloma RD |     Los Altos Hills|   94022|     4723| 51941.0| 26|         6|        5|        5|        1|  7|     2021|     2021|   8995000|   9525000|5/19/2021 0:00|5/26/2021 0:00|      1995|
| BA321059104|        111 Hill DR |           Kentfield|   94904|     6520| 28148.0| 83|         5|        4|        4|        1|  1|     2021|     2021|   9500000|   9500000|4/17/2021 0:00|4/18/2021 0:00|      1938|
| SF421562053|     2519 Pierce ST |       San Francisco|   94115|     4352|  2406.0|111|         5|        5|        4|        1|  4|     2021|     2021|   9500000|   9500000| 5/6/2021 0:00|5/10/2021 0:00|      1910|
|CRNP21110628|  506 Via Lido Nord |       Newport Beach|   92663|     3650|  3150.0| 25|         2|        4|        1|        1|  6|     2021|     2021|   8995000|   8995000|5/24/2021 0:00|5/30/2021 0:00|      1996|
| BA321042938|     5 Fernhill AVE |                Ross|   94957|     4157| 26267.0| 15|         5|        5|        5|        0|  8|     2021|     2021|   8995000|   8987000|5/20/2021 0:00|5/28/2021 0:00|      2006|
| TM21-744926|        626 Alta DR |       Beverly Hills|   90210|     5637| 13966.0| 91|         7|        5|        7|        0|  1|     2021|     2021|   8800000|   8800000|4/14/2021 0:00|4/15/2021 0:00|      1930|
|CRPV21070665|    1564 Via Zurita |Palos Verdes Estates|   90274|     8750| 30409.0| 17|         5|        7|        3|        2| 15|     2021|     2021|   7995000|   8250000|5/13/2021 0:00|5/28/2021 0:00|      2004|
| TM21-734856|23331 Malibu Colo...|              Malibu|   90265|     1518| 11980.0| 48|         2|        2|        1|        1|  0|     2021|     2021|   8000000|   7803879|5/21/2021 0:00|5/21/2021 0:00|      1973|
|  ML81844806|     423 Chaucer ST |           Palo Alto|   94301|     3858| 17368.0| 99|         5|        5|        4|        1|  5|     2021|     2021|   7395000|   7750000|5/20/2021 0:00|5/25/2021 0:00|      1922|
| BA321057925|       616 Ridge RD |             Tiburon|   94920|     5300| 23958.0| 44|         6|        6|        5|        1|  0|     2021|     2021|   7495000|   7650000|5/29/2021 0:00|5/29/2021 0:00|      1977|
|CRNDP2105433|13598 Nogales Drive |             Del Mar|   92014|     8005| 43995.6| 24|         7|        6|        6|        1|  0|     2021|     2021|   7995000|   7637500|5/17/2021 0:00|5/17/2021 0:00|      1997|
| BA321072418|421 Golden Gate AVE |           Belvedere|   94920|     3935| 21449.0|112|         4|        5|        3|        1| 13|     2021|     2021|   7595000|   7600000|4/14/2021 0:00|4/27/2021 0:00|      1909|
|  ML81844600|    27827 Via Feliz |     Los Altos Hills|   94022|     3550| 98445.6| 41|         3|        4|        3|        0|  7|     2021|     2021|   5988000|   7500000|5/19/2021 0:00|5/26/2021 0:00|      1980|
+------------+--------------------+--------------------+--------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
only showing top 20 rows

In [5]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://tq2cutebucket.s3.us-west-1.amazonaws.com/county_zipcode.csv"
spark.sparkContext.addFile(url)
county_df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("county_zipcode.csv"), sep=",", header=True, inferSchema=True)
county_df.show()
county_df.count()

+--------+--------------+
|zip_code|        county|
+--------+--------------+
|   94063|     San Mateo|
|   92225|     Riverside|
|   92273|      Imperial|
|   92651|        Orange|
|   92801|        Orange|
|   92865|        Orange|
|   92352|San Bernardino|
|   92250|      Imperial|
|   92807|        Orange|
|   92627|        Orange|
|   91935|     San Diego|
|   91773|   Los Angeles|
|   91107|   Los Angeles|
|   93283|          Kern|
|   92866|        Orange|
|   94528|  Contra Costa|
|   95076|    Santa Cruz|
|   90010|   Los Angeles|
|   91905|     San Diego|
|   91016|   Los Angeles|
+--------+--------------+
only showing top 20 rows

51011

In [6]:
county_df = county_df.withColumnRenamed("zip_code","zipcode_b")
county_df.show()

+---------+--------------+
|zipcode_b|        county|
+---------+--------------+
|    94063|     San Mateo|
|    92225|     Riverside|
|    92273|      Imperial|
|    92651|        Orange|
|    92801|        Orange|
|    92865|        Orange|
|    92352|San Bernardino|
|    92250|      Imperial|
|    92807|        Orange|
|    92627|        Orange|
|    91935|     San Diego|
|    91773|   Los Angeles|
|    91107|   Los Angeles|
|    93283|          Kern|
|    92866|        Orange|
|    94528|  Contra Costa|
|    95076|    Santa Cruz|
|    90010|   Los Angeles|
|    91905|     San Diego|
|    91016|   Los Angeles|
+---------+--------------+
only showing top 20 rows

In [7]:
# Join the two DataFrame
# empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"fullouter") 
joined_df = df.join(county_df, df.Zip_Code == county_df.zipcode_b, how="inner")
joined_df.count()

124729

In [8]:
# Give county name a number
from pyspark.ml.feature import StringIndexer

# create object of StringIndexer class and specify input and output column
SI_county = StringIndexer(inputCol='county', outputCol='County_Index')

# transform the data
joined_df = SI_county.fit(joined_df).transform(joined_df)

# view the transformed data
joined_df.select('county', 'County_Index').show(10)

joined_df.show()

+------+------------+
|county|County_Index|
+------+------------+
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
|Orange|         2.0|
+------+------------+
only showing top 10 rows

+------------+--------------------+--------------+--------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+---------+--------------+------------+
|  MLS_Number|      Street_Address|          City|Zip_Code|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_Sold|Year_List|List_Price|Sale_Price|  Listing_Date|     Sale_Date|Year_Built|zipcode_b|        county|County_Index|
+------------+--------------------+--------------+--------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+---------+--------------+------------+
|CRLG21108548|1884 Upper Rim Ro...|  Laguna Beach|   92651|     1647|  6400.0| 59|         3|        2|        3|        0| 22|     2021|     2021|   1695000|   1800100| 5/3/2021 0:00|5/25/2021 0:00|      1962|    92651|        Orange|         2.0|
|CROC21106189|    31642 Jewel AVE |  Laguna Beach|   92651|     1694|  3500.0| 91|         3|        4|        3|        0|  9|     2021|     2021|   1995000|   2125000|5/18/2021 0:00|5/27/2021 0:00|      1930|    92651|        Orange|         2.0|
|CRLG21114515|     175 Sunset TER |  Laguna Beach|   92651|     1420|  2550.0| 84|         3|        3|        3|        0|  0|     2021|     2021|   2200000|   2200000|4/14/2021 0:00|4/14/2021 0:00|      1937|    92651|        Orange|         2.0|
|CROC21117323|   744 Manzanita DR |  Laguna Beach|   92651|     1414|  6250.0| 85|         2|        2|        2|        0|  0|     2021|     2021|   2750000|   2750000|5/28/2021 0:00|5/28/2021 0:00|      1936|    92651|        Orange|         2.0|
|CRNP21115210|    725 Emerald Bay |  Laguna Beach|   92651|     3013|  8611.0| 49|         4|        5|        3|        1|  0|     2021|     2021|   4695000|   4550000|5/28/2021 0:00|5/28/2021 0:00|      1972|    92651|        Orange|         2.0|
|CRLG21105381|  10 Smithcliffs RD |  Laguna Beach|   92651|     4505| 10520.0| 21|         4|        3|        3|        1|  9|     2021|     2021|   4899000|   4700000|5/21/2021 0:00|5/30/2021 0:00|      2000|    92651|        Orange|         2.0|
|CROC21033919|20 N Vista De Cat...|  Laguna Beach|   92651|     3611|  7200.0| 52|         4|        4|        3|        1|  0|     2021|     2021|   4750000|   4750000| 5/5/2021 0:00| 5/5/2021 0:00|      1969|    92651|        Orange|         2.0|
|CREV21102047|    3107 W Polk AVE |       Anaheim|   92801|     1276|  7234.0| 68|         1|        3|        1|        0| 30|     2021|     2021|    640000|    630000|4/28/2021 0:00|5/28/2021 0:00|      1953|    92801|        Orange|         2.0|
|CRPW21105429|    1309 N Minot ST |       Anaheim|   92801|     1345|  6166.0| 66|         2|        3|        2|        0|  0|     2021|     2021|    655000|    655000|5/17/2021 0:00|5/17/2021 0:00|      1955|    92801|        Orange|         2.0|
|CRPW21106749|   3130 W Tyler AVE |       Anaheim|   92801|     1000|  7234.0| 65|         1|        3|        1|        0| 25|     2021|     2021|    640000|    655000| 5/3/2021 0:00|5/28/2021 0:00|      1956|    92801|        Orange|         2.0|
|CRPW21102784|   1321 N Elmira ST |       Anaheim|   92801|     1231|  6114.0| 66|         2|        4|        2|        0| 14|     2021|     2021|    650000|    720000|5/12/2021 0:00|5/26/2021 0:00|      1955|    92801|        Orange|         2.0|
|CROC21104765|    714 N Modena ST |       Anaheim|   92801|     1171|  6061.0| 66|         1|        3|        1|        0|  6|     2021|     2021|    725000|    755000|5/19/2021 0:00|5/25/2021 0:00|      1955|    92801|        Orange|         2.0|
|CROC21102991|  229 N Monterey ST |       Anaheim|   92801|     1787|  7214.0| 64|         1|        4|        1|        0| 13|     2021|     2021|    700000|    780000|5/14/2021 0:00|5/27/2021 0:00|      1957|    92801|        Orange|         2.0|
|CRPW21093742| 828 E Glendora AVE |        Orange|   92865|     1185|  8400.0| 59|         1|        3|        1|        0|  8|     2021|     2021|    776900|    809500|5/12/2021 0:00|5/20/2021 0:00|      1962|    92865|        Orange|         2.0|
|CRPW21108597|380 W Tulip Tree ...|        Orange|   92865|     2084|  3317.0| 13|         3|        3|        2|        1|  5|     2021|     2021|    799800|    901000|5/20/2021 0:00|5/25/2021 0:00|      2008|    92865|        Orange|         2.0|
|CRPW21104872|     855 Oakmont DR |Lake Arrowhead|   92352|     1400|  3200.0| 39|         2|        3|        2|        0|  5|     2021|     2021|    399999|    436000|5/16/2021 0:00|5/21/2021 0:00|      1982|    92352|San Bernardino|         3.0|
|CRCV21108787|731 Cottage Grove...|Lake Arrowhead|   92352|     1080| 12670.0| 63|         2|        3|        2|        0|  7|     2021|     2021|    549500|    575000|5/19/2021 0:00|5/26/2021 0:00|      1958|    92352|San Bernardino|         3.0|
|CREV21106260|27837 St Bernard LN |Lake Arrowhead|   92352|     1736| 10063.0| 40|         3|        3|        2|        1|  4|     2021|     2021|    549900|    579900|5/18/2021 0:00|5/22/2021 0:00|      1981|    92352|San Bernardino|         3.0|
|CREV21108912|  904 Sandalwood DR |Lake Arrowhead|   92352|     1894|  9400.0| 50|         3|        3|        3|        0| 10|     2021|     2021|    619000|    610000|5/20/2021 0:00|5/30/2021 0:00|      1971|    92352|San Bernardino|         3.0|
|CREV21111457|  27324 Pinewood DR |Lake Arrowhead|   92352|     1344| 13750.0| 52|         2|        3|        2|        0|  0|     2021|     2021|    615000|    615000|5/24/2021 0:00|5/24/2021 0:00|      1969|    92352|San Bernardino|         3.0|
+------------+--------------------+--------------+--------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+---------+--------------+------------+
only showing top 20 rows

In [9]:
modify_df = joined_df.select('MLS_Number','Street_Address','City','Zip_Code','county','County_Index','SqFtTotal','Lot_Size','Age','BathsTotal','BedsTotal','BathsFull','BathsHalf','DOM','Year_List','Year_Sold','List_Price','Sale_Price','Listing_Date','Sale_Date','Year_Built')
modify_df.show(5)

+------------+--------------------+------------+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|  MLS_Number|      Street_Address|        City|Zip_Code|county|County_Index|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_List|Year_Sold|List_Price|Sale_Price|  Listing_Date|     Sale_Date|Year_Built|
+------------+--------------------+------------+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|CRLG21108548|1884 Upper Rim Ro...|Laguna Beach|   92651|Orange|         2.0|     1647|  6400.0| 59|         3|        2|        3|        0| 22|     2021|     2021|   1695000|   1800100| 5/3/2021 0:00|5/25/2021 0:00|      1962|
|CROC21106189|    31642 Jewel AVE |Laguna Beach|   92651|Orange|         2.0|     1694|  3500.0| 91|         3|        4|        3|        0|  9|     2021|     2021|   1995000|   2125000|5/18/2021 0:00|5/27/2021 0:00|      1930|
|CRLG21114515|     175 Sunset TER |Laguna Beach|   92651|Orange|         2.0|     1420|  2550.0| 84|         3|        3|        3|        0|  0|     2021|     2021|   2200000|   2200000|4/14/2021 0:00|4/14/2021 0:00|      1937|
|CROC21117323|   744 Manzanita DR |Laguna Beach|   92651|Orange|         2.0|     1414|  6250.0| 85|         2|        2|        2|        0|  0|     2021|     2021|   2750000|   2750000|5/28/2021 0:00|5/28/2021 0:00|      1936|
|CRNP21115210|    725 Emerald Bay |Laguna Beach|   92651|Orange|         2.0|     3013|  8611.0| 49|         4|        5|        3|        1|  0|     2021|     2021|   4695000|   4550000|5/28/2021 0:00|5/28/2021 0:00|      1972|
+------------+--------------------+------------+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
only showing top 5 rows

In [10]:
# import sql function pyspark
import pyspark.sql.functions as f

# null values in each column
data_agg = modify_df.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in modify_df.columns])
data_agg.show(5)

+----------+--------------+----+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+------------+---------+----------+
|MLS_Number|Street_Address|City|Zip_Code|county|County_Index|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_List|Year_Sold|List_Price|Sale_Price|Listing_Date|Sale_Date|Year_Built|
+----------+--------------+----+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+------------+---------+----------+
|         0|             0|1276|       0|     0|           0|        0|       0|  0|         0|        0|        0|        0|  0|        0|        0|         0|         0|           0|        0|         0|
+----------+--------------+----+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+------------+---------+----------+

In [11]:
# Drop null values
final_df = modify_df.dropDuplicates(['MLS_Number','Street_Address','City','Zip_Code','county','County_Index','SqFtTotal','Lot_Size','Age','BathsTotal','BedsTotal','BathsFull','BathsHalf','DOM','Year_List','Year_Sold','List_Price','Sale_Price','Listing_Date','Sale_Date','Year_Built'])
final_df.count()

4301

In [12]:
# Find out rows of null values
final_df.filter("City IS NULL").show()

+------------+--------------------+----+--------+--------------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|  MLS_Number|      Street_Address|City|Zip_Code|        county|County_Index|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_List|Year_Sold|List_Price|Sale_Price|  Listing_Date|     Sale_Date|Year_Built|
+------------+--------------------+----+--------+--------------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|CRIV21105771|24050 Canyon Lake...|null|   92587|     Riverside|         1.0|     2277|  7405.0| 32|         3|        3|        3|        0| 37|     2021|     2021|    725000|    740000|4/18/2021 0:00|5/25/2021 0:00|      1989|
|CRSW21111671|29941 Gulf Stream...|null|   92587|     Riverside|         1.0|     1535|  8712.0| 35|         2|        3|        2|        0|  4|     2021|     2021|    506000|    506000|5/24/2021 0:00|5/28/2021 0:00|      1986|
|CRSB21108924|        221 31st ST |null|   90254|   Los Angeles|         0.0|     1826|  2096.0| 43|         3|        3|        2|        1|  9|     2021|     2021|   3200000|   3192000|5/19/2021 0:00|5/28/2021 0:00|      1978|
|CNSR21105944|11728 Monte Leon ...|null|   91326|   Los Angeles|         0.0|     3511|  9172.0| 44|         3|        5|        3|        0|  7|     2021|     2021|   1399000|   1480000|5/17/2021 0:00|5/24/2021 0:00|      1977|
|CNSR21107771|  19046 Muirkirk DR |null|   91326|   Los Angeles|         0.0|     2465|  8254.0| 55|         3|        4|        3|        0|  5|     2021|     2021|   1079000|   1185000|5/21/2021 0:00|5/26/2021 0:00|      1966|
| ME202100896|     2224 Leslie CT |null|   95953|        Sutter|        23.0|     1500|  8712.0| 47|         2|        3|        2|        0| 13|     2021|     2021|    312500|    335000|4/13/2021 0:00|4/26/2021 0:00|      1974|
|CRSB21082473|       2030 Loma DR |null|   90254|   Los Angeles|         0.0|     3400|  4838.0| 30|         4|        4|        3|        1|  4|     2021|     2021|   2899000|   3250000|5/21/2021 0:00|5/25/2021 0:00|      1991|
|CRCV21101517|      869 W 14th ST |null|   91786|San Bernardino|         3.0|     2250| 10030.0| 59|         3|        4|        2|        1|  5|     2021|     2021|    649000|    670000|5/19/2021 0:00|5/24/2021 0:00|      1962|
|CNSR21107537|18445 Los Alimos ST |null|   91326|   Los Angeles|         0.0|     1780|  9487.0| 62|         2|        4|        2|        0|  6|     2021|     2021|    819000|    915000|5/20/2021 0:00|5/26/2021 0:00|      1959|
| TM21-734118|     11872 West TRL |null|   91342|   Los Angeles|         0.0|     2931| 10268.0| 29|         3|        4|        2|        1|  7|     2021|     2021|    864999|    970000|5/21/2021 0:00|5/28/2021 0:00|      1992|
| ME202100422|13761 Sun Forest DR |null|   95946|        Nevada|        27.0|     1216| 16117.0| 40|         2|        3|        2|        0|  8|     2021|     2021|    325000|    335000|2/16/2021 0:00|2/24/2021 0:00|      1981|
|CNSR21113147|    10881 Crebs AVE |null|   91326|   Los Angeles|         0.0|     2815| 11437.0| 53|         4|        5|        4|        0|  6|     2021|     2021|   1585000|   1585000|5/24/2021 0:00|5/30/2021 0:00|      1968|
| ME221052777|          9873 L ST |null|   95953|        Sutter|        23.0|     1086|  9148.0| 14|         1|        3|        1|        0|  7|     2021|     2021|    319900|    315000|5/17/2021 0:00|5/24/2021 0:00|      2007|
|CNSR21108049|11937 Calle Vista...|null|   91326|   Los Angeles|         0.0|     2258|  9344.0| 45|         2|        4|        1|        1|  6|     2021|     2021|   1250000|   1300000|5/19/2021 0:00|5/25/2021 0:00|      1976|
|CRSB21129280|      735 Lomita ST |null|   90245|   Los Angeles|         0.0|     1560|  6562.0| 73|         2|        3|        2|        0|426|     2020|     2021|   1450000|   1505000|2/14/2020 0:00|4/15/2021 0:00|      1948|
|CRSW21108241|   23806 Newport DR |null|   92587|     Riverside|         1.0|      910|  4792.0| 37|         1|        2|        1|        0| 10|     2021|     2021|    299999|    299000|5/20/2021 0:00|5/30/2021 0:00|      1984|
|CRSW21102707|      878 N 2nd Ave |null|   91786|San Bernardino|         3.0|     1373|  9448.0| 73|         2|        3|        2|        0| 11|     2021|     2021|    559900|    580000|5/14/2021 0:00|5/25/2021 0:00|      1948|
|CNSR21106630| 11977 Beaufait AVE |null|   91326|   Los Angeles|         0.0|     1536| 10478.0| 48|         1|        4|        1|        0|  0|     2021|     2021|    875000|    875000|5/18/2021 0:00|5/18/2021 0:00|      1973|
|CNSR21107983|11839 Porter Vall...|null|   91326|   Los Angeles|         0.0|     2602|  9379.0| 52|         3|        4|        3|        0|  7|     2021|     2021|   1050000|   1250000|5/21/2021 0:00|5/28/2021 0:00|      1969|
|CRSW21107340| 29455 Stampede WAY |null|   92587|     Riverside|         1.0|     1500|  6970.0| 36|         2|        3|        2|        0|  0|     2021|     2021|    449900|    492000|5/19/2021 0:00|5/19/2021 0:00|      1985|
+------------+--------------------+----+--------+--------------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
only showing top 20 rows

In [13]:
# clean up the column City with null values
# drop rows with id 4
new_final_df = final_df.filter(final_df.City!='null')
new_final_df.count()

4257

In [14]:
#Get all the Lot Size are greater than 800 in a new DataFrame.
new_final_df = new_final_df[final_df["Lot_Size"] >= 800]
new_final_df.count()

4225

In [15]:
# null values in each column
data_agg = new_final_df.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in new_final_df.columns])
data_agg.show()

+----------+--------------+----+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+------------+---------+----------+
|MLS_Number|Street_Address|City|Zip_Code|county|County_Index|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_List|Year_Sold|List_Price|Sale_Price|Listing_Date|Sale_Date|Year_Built|
+----------+--------------+----+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+------------+---------+----------+
|         0|             0|   0|       0|     0|           0|        0|       0|  0|         0|        0|        0|        0|  0|        0|        0|         0|         0|           0|        0|         0|
+----------+--------------+----+--------+------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+------------+---------+----------+

**Yeah** Data is cleaned

In [16]:
#show the clean data
new_final_df.show()

+------------+--------------------+---------------+--------+------------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|  MLS_Number|      Street_Address|           City|Zip_Code|      county|County_Index|SqFtTotal|Lot_Size|Age|BathsTotal|BedsTotal|BathsFull|BathsHalf|DOM|Year_List|Year_Sold|List_Price|Sale_Price|  Listing_Date|     Sale_Date|Year_Built|
+------------+--------------------+---------------+--------+------------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
|  ML81844669|1523 San Andreas ...|       San Jose|   95118| Santa Clara|         7.0|     1144|  5822.0| 67|         2|        3|        2|        0|  8|     2021|     2021|   1199000|   1335555|5/19/2021 0:00|5/27/2021 0:00|      1954|
|CRSN21105110|     4255 Stable LN |          Chico|   95973|       Butte|        11.0|     1729| 34412.0| 41|         2|        3|        2|        0|  6|     2021|     2021|    569900|    580000|5/17/2021 0:00|5/23/2021 0:00|      1980|
|CRPW21106375| 2717 E Palmyra AVE |         Orange|   92869|      Orange|         2.0|     1814|  7850.0| 58|         2|        3|        2|        0|  5|     2021|     2021|    825000|    885000|5/18/2021 0:00|5/23/2021 0:00|      1963|
| ME221055681|  1142 Elderwood DR |           Galt|   95632|  Sacramento|         4.0|     1218|  6499.0| 23|         2|        3|        2|        0|  3|     2021|     2021|    425000|    450000|5/21/2021 0:00|5/24/2021 0:00|      1998|
|  EB40951076|        1331 Elm St |     El Cerrito|   94530|Contra Costa|         6.0|      951|  3700.0| 73|         1|        2|        1|        0|  0|     2021|     2021|    900000|    900000|5/21/2021 0:00|5/21/2021 0:00|      1948|
|  ML81845593|   1563 Piedmont RD |       San Jose|   95132| Santa Clara|         7.0|     1811|  6552.0| 48|         2|        5|        2|        0|  0|     2021|     2021|   1000000|   1000000|5/24/2021 0:00|5/24/2021 0:00|      1973|
|CROC21117827|     40158 Stowe RD |       Temecula|   92591|   Riverside|         1.0|     2250|  4356.0| 18|         3|        4|        2|        1|  0|     2021|     2021|    775000|    775000|4/21/2021 0:00|4/21/2021 0:00|      2003|
|CRNDP2105763|1867 Avenida Mimosa |      Encinitas|   92024|   San Diego|         5.0|     2167|  6333.0| 36|         3|        4|        2|        1|  6|     2021|     2021|   1099000|   1392500|5/24/2021 0:00|5/30/2021 0:00|      1985|
|CRPW21107728|    8569 El Rio AVE |Fountain Valley|   92708|      Orange|         2.0|     1435|  7200.0| 56|         3|        3|        2|        1|  6|     2021|     2021|    825000|    875000|5/20/2021 0:00|5/26/2021 0:00|      1965|
| TM21-734610|      20733 Benz RD |  Santa Clarita|   91350| Los Angeles|         0.0|     1526|  6451.0| 42|         2|        3|        2|        0| 10|     2021|     2021|    699900|    700000|5/20/2021 0:00|5/30/2021 0:00|      1979|
| ME221056236|4058 Castellina WAY |        Manteca|   95337| San Joaquin|        10.0|     3284|  8259.0|  9|         4|        4|        3|        1|  2|     2021|     2021|    998000|   1100000|5/26/2021 0:00|5/28/2021 0:00|      2012|
|CRTR21097360|      504 Thomas ST |       Oak View|   93022|     Ventura|        17.0|     1125|  7543.0| 48|         2|        3|        2|        0|  5|     2021|     2021|    700000|    695000|4/21/2021 0:00|4/26/2021 0:00|      1973|
|CRNDP2105487|3755 Vista Campan...|      Oceanside|   92057|   San Diego|         5.0|      906|  1309.0| 55|         1|        2|        1|        0| 13|     2021|     2021|    299000|    285000|5/17/2021 0:00|5/30/2021 0:00|      1966|
|  CC40948779|      429 Calico Ct |      San Ramon|   94582|Contra Costa|         6.0|     3850| 10420.0| 16|         4|        5|        4|        0|  4|     2021|     2021|   2288000|   2625125|5/20/2021 0:00|5/24/2021 0:00|      2005|
|CRBB21107239|   2174 N Mills AVE |      Claremont|   91711| Los Angeles|         0.0|     2990| 11880.0| 43|         5|        5|        5|        0|  7|     2021|     2021|   1099998|   1150000|5/19/2021 0:00|5/26/2021 0:00|      1978|
|CRPW21108298|    1238 Hampton CT |      Fullerton|   92831|      Orange|         2.0|     2199|  4250.0| 21|         3|        3|        2|        1|  6|     2021|     2021|   1150000|   1205000|5/19/2021 0:00|5/25/2021 0:00|      2000|
|CROC21095003|        1 Roncal ST |   Ladera Ranch|   92694|      Orange|         2.0|     1625|  4140.0|  7|         2|        2|        2|        0|  3|     2021|     2021|    899000|    930000|5/25/2021 0:00|5/28/2021 0:00|      2014|
|CRTR21098395|   801 Hampshire LN |       La Habra|   90631|      Orange|         2.0|     1520|  2000.0| 44|         2|        4|        1|        1| 20|     2021|     2021|    596000|    645000| 5/4/2021 0:00|5/24/2021 0:00|      1977|
|CRSW21114737|3588 Cherry Bloss...|  Lake Elsinore|   92530|   Riverside|         1.0|     1834|  6098.0| 34|         3|        4|        3|        0|  3|     2021|     2021|    487500|    511000|5/27/2021 0:00|5/30/2021 0:00|      1987|
|  ML81844452|60 Crazy Horse Ca...|      Prunedale|   93907|    Monterey|        24.0|     2826|256568.0| 34|         3|        3|        3|        0|  8|     2021|     2021|    734000|    850000|5/18/2021 0:00|5/26/2021 0:00|      1987|
+------------+--------------------+---------------+--------+------------+------------+---------+--------+---+----------+---------+---------+---------+---+---------+---------+----------+----------+--------------+--------------+----------+
only showing top 20 rows

**Yeah** Data is cleaned

In [17]:
new_final_df.printSchema()

root
 |-- MLS_Number: string (nullable = true)
 |-- Street_Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip_Code: string (nullable = true)
 |-- county: string (nullable = true)
 |-- County_Index: double (nullable = false)
 |-- SqFtTotal: integer (nullable = true)
 |-- Lot_Size: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- BathsTotal: integer (nullable = true)
 |-- BedsTotal: integer (nullable = true)
 |-- BathsFull: integer (nullable = true)
 |-- BathsHalf: integer (nullable = true)
 |-- DOM: integer (nullable = true)
 |-- Year_List: integer (nullable = true)
 |-- Year_Sold: integer (nullable = true)
 |-- List_Price: integer (nullable = true)
 |-- Sale_Price: integer (nullable = true)
 |-- Listing_Date: string (nullable = true)
 |-- Sale_Date: string (nullable = true)
 |-- Year_Built: integer (nullable = true)

In [18]:
# Transpose to make it easy to read by a human being
# But it takes lots of times
# new_final_df.describe().toPandas().transpose()

In [19]:
# Make sure the df has to be pyspark before it is written
type(new_final_df)

pyspark.sql.dataframe.DataFrame

In [20]:
# Create house dataframe to show only the characteristics of the houses
house_df = new_final_df.select('MLS_Number','Street_Address','City','Zip_Code','county','County_Index','SqFtTotal','Lot_Size','BedsTotal','BathsTotal','BathsFull','BathsHalf','Year_Built',"Sale_Price")
house_df.show(5)
house_df.count()

+------------+--------------------+----------+--------+------------+------------+---------+--------+---------+----------+---------+---------+----------+----------+
|  MLS_Number|      Street_Address|      City|Zip_Code|      county|County_Index|SqFtTotal|Lot_Size|BedsTotal|BathsTotal|BathsFull|BathsHalf|Year_Built|Sale_Price|
+------------+--------------------+----------+--------+------------+------------+---------+--------+---------+----------+---------+---------+----------+----------+
|  ML81844669|1523 San Andreas ...|  San Jose|   95118| Santa Clara|         7.0|     1144|  5822.0|        3|         2|        2|        0|      1954|   1335555|
|CRSN21105110|     4255 Stable LN |     Chico|   95973|       Butte|        11.0|     1729| 34412.0|        3|         2|        2|        0|      1980|    580000|
|CRPW21106375| 2717 E Palmyra AVE |    Orange|   92869|      Orange|         2.0|     1814|  7850.0|        3|         2|        2|        0|      1963|    885000|
| ME221055681|  1142 Elderwood DR |      Galt|   95632|  Sacramento|         4.0|     1218|  6499.0|        3|         2|        2|        0|      1998|    450000|
|  EB40951076|        1331 Elm St |El Cerrito|   94530|Contra Costa|         6.0|      951|  3700.0|        2|         1|        1|        0|      1948|    900000|
+------------+--------------------+----------+--------+------------+------------+---------+--------+---------+----------+---------+---------+----------+----------+
only showing top 5 rows

4225

In [21]:
# Create sales dataframe to show information related to sales and listing sales
sale_df = new_final_df.select('MLS_Number','county','County_Index','SqFtTotal','Lot_Size', 'BedsTotal','BathsTotal','BathsFull','BathsHalf',"Age",'Year_Built','DOM','Year_Sold','Year_List','Sale_Date','List_Price','Sale_Price')
sale_df.show(8)
sale_df.count()

+------------+------------+------------+---------+--------+---------+----------+---------+---------+---+----------+---+---------+---------+--------------+----------+----------+
|  MLS_Number|      county|County_Index|SqFtTotal|Lot_Size|BedsTotal|BathsTotal|BathsFull|BathsHalf|Age|Year_Built|DOM|Year_Sold|Year_List|     Sale_Date|List_Price|Sale_Price|
+------------+------------+------------+---------+--------+---------+----------+---------+---------+---+----------+---+---------+---------+--------------+----------+----------+
|  ML81844669| Santa Clara|         7.0|     1144|  5822.0|        3|         2|        2|        0| 67|      1954|  8|     2021|     2021|5/27/2021 0:00|   1199000|   1335555|
|CRSN21105110|       Butte|        11.0|     1729| 34412.0|        3|         2|        2|        0| 41|      1980|  6|     2021|     2021|5/23/2021 0:00|    569900|    580000|
|CRPW21106375|      Orange|         2.0|     1814|  7850.0|        3|         2|        2|        0| 58|      1963|  5|     2021|     2021|5/23/2021 0:00|    825000|    885000|
| ME221055681|  Sacramento|         4.0|     1218|  6499.0|        3|         2|        2|        0| 23|      1998|  3|     2021|     2021|5/24/2021 0:00|    425000|    450000|
|  EB40951076|Contra Costa|         6.0|      951|  3700.0|        2|         1|        1|        0| 73|      1948|  0|     2021|     2021|5/21/2021 0:00|    900000|    900000|
|  ML81845593| Santa Clara|         7.0|     1811|  6552.0|        5|         2|        2|        0| 48|      1973|  0|     2021|     2021|5/24/2021 0:00|   1000000|   1000000|
|CROC21117827|   Riverside|         1.0|     2250|  4356.0|        4|         3|        2|        1| 18|      2003|  0|     2021|     2021|4/21/2021 0:00|    775000|    775000|
|CRNDP2105763|   San Diego|         5.0|     2167|  6333.0|        4|         3|        2|        1| 36|      1985|  6|     2021|     2021|5/30/2021 0:00|   1099000|   1392500|
+------------+------------+------------+---------+--------+---------+----------+---------+---------+---+----------+---+---------+---------+--------------+----------+----------+
only showing top 8 rows

4225

In [22]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-1.cvmp56um73d3.us-west-1.rds.amazonaws.com:5432/Final_Project_db"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [23]:
# Write DataFrame to house table in RDS
house_df.write.jdbc(url=jdbc_url, table='house_data', mode=mode, properties=config)

In [24]:
# Write dataframe to sales table in RDS
sale_df.write.jdbc(url=jdbc_url, table='sale_data', mode=mode, properties=config)

In [25]:
# Write dataframe to final_data table in RDS
new_final_df.write.jdbc(url=jdbc_url, table='final_data', mode=mode, properties=config)